<ul id="mainAdminMenuContiner" class="sidebar-menu">
    <li id="adminMenuLoader">
        <div class="overlay text-center my-30">
            <i class="fa fa-refresh fa-spin" style="color: #aeaeae;font-size: 20px;"></i>
        </div>
    </li>
</ul>